<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MQTT Status Display</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        body { 
            font-family: Arial, sans-serif; 
        }

        .container { 
            max-width: 500px; 
            margin: 0 auto; 
            padding: 20px; 
        }

        h2, h3 { 
            text-align: center; 
        }

        ul { 
            list-style-type: none;
            padding: 0; 
        }
        
        li { 
            background: #f3f3f3; 
            padding: 10px;
            margin: 5px 0; 
            border-radius: 5px; 
        }
        
        .disabled-button {
            opacity: 0.5;
            pointer-events: none;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .grid-button {
            width: 100%;
            height: 100%;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>UDP States</h3>

        <!-- <p id="sensorData">STATE: Unknown<p> -->

        <p id="sensor1">STATE: Unknown<p>
        <p id="sensor2">STATE: Unknown<p>
        <p id="sensor3">STATE: Unknown<p>
        <!-- <p id="sensor4">STATE: Unknown<p> -->

        <h3>MQTT States</h3>

        <p id="ledState">LED: Unknown</p>
        <p id="motorState">MOTORPINS: Unknown</p>

        <h3>Publish to Topic</h3>

        <p>LED</p>
        <button id="ledButton" onclick="toggleLed('ledstate', this)">TURN ON</button>
        <p>MOTOR</p>

        <div class="grid-container">
            <button id="clockwiseButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">&#10227;</button>
            <button id="forwardButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">FORWARD</button>
            <button id="counterclockwiseButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">&#10226;</button>
            <button id="leftButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">LEFT</button>
            <button id="turnoffButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">TURN OFF</button>
            <button id="rightButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">RIGHT</button>
            <button id="emptyButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)"></button>
            <button id="backwardButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)">BACKWARD</button>
            <button id="emptyButton" class="grid-button" onclick="publishMotorCommand('motorstate', this)"></button>
            
        </div>

        <!-- <ul id="messages"></ul> -->
    </div>

    <script>
        const socket = io();
        
        const topics = ["ledstate", "motorstate"]; // Add the topics you want to subscribe to here

        window.onload = () => {
            topics.forEach(topic => {
                socket.emit('subscribe', JSON.stringify({ topic: topic }));
                console.log(`Subscribed to topic: ${topic}`);
            });
        };

        socket.on('update_sensor_data', function(data) {
            //document.getElementById('sensorData').textContent = `LED: ${data.sensor_data}`;

            document.getElementById('sensor1').textContent = `Distance 1: ${data.sensor_data[1]} cm`;
            document.getElementById('sensor2').textContent = `Distance 2: ${data.sensor_data[2]} cm`;
            document.getElementById('sensor3').textContent = `Distance 3: ${data.sensor_data[3]} cm`;
            //document.getElementById('sensor4').textContent = `Distance 4: ${data.sensor_data[4]} cm`;

        });

        //on incoming message
        socket.on('mqtt_message', function(data) {
            if (data.topic === "ledstate") {
                document.getElementById("ledState").textContent = `LED: ${data.payload}`;
            } else if (data.topic === "motorstate") {
                document.getElementById("motorState").textContent = `MOTORPINS: ${data.payload}`;
            }
        });

        //publish to topic
        function publishToTopic(topic, message) {
            if (message) {
                socket.emit('publish', JSON.stringify({ topic: topic, message: message }));
                console.log(`Published message: '${message}' to topic: ${topic}`);
            }
        }
        
        function enableAll() {
            const buttons = [
                document.getElementById("forwardButton"),
                document.getElementById("backwardButton"),
                document.getElementById("leftButton"),
                document.getElementById("rightButton"),

                document.getElementById("clockwiseButton"),
                document.getElementById("counterclockwiseButton"),
            
                document.getElementById("turnoffButton")
            ];
        
            buttons.forEach(button => {
                button.disabled = false;
                button.classList.remove("disabled-button");
            });
        }

        function toggleLed(topic, button) {
            const command = button.textContent;

            socket.emit('publish', JSON.stringify({ topic: topic, message: command }));
            console.log(`Published message: '${command}' to topic: ${topic}`);
        
            button.textContent = (command === "TURN ON") ? "TURN OFF" : "TURN ON";
        }

        function publishMotorCommand(topic, button) {
            enableAll()

            let command;
            switch (button.id) {
                case "forwardButton":
                    command = "GO FORWARD";
                    break;
                case "backwardButton":
                    command = "GO BACKWARD";
                    break;
                case "leftButton":
                    command = "GO LEFT";
                    break;
                case "rightButton":
                    command = "GO RIGHT";
                    break;

                case "clockwiseButton":
                    command = "GO CLOCKWISE";
                    break;
                case "counterclockwiseButton":
                    command = "GO COUNTERCLOCKWISE";
                    break;

                case "turnoffButton":
                    command = "TURN OFF";
                    break;
                default:
                    console.error("Unknown button ID");
                    return;
            } 

            socket.emit('publish', JSON.stringify({ topic: topic, message: command }));
            console.log(`Published message: '${command}' to topic: ${topic}`);

            button.disabled = !button.disabled;
            button.classList.toggle("disabled-button");
        }

    </script>
</body>
</html>
